Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

# Si el archivo o carpeta existe, omite las reglas de reescritura
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#páginas
RewriteRule ^tienda/cafe/([^\/]+)?/$ tienda/cafe/diablo/index.php?slug=$1 [L]
RewriteRule ^tienda/merch/([^\/]+)?/$ tienda/merch/sudadera/index.php?slug=$1 [L]
RewriteRule ^tienda/payment/([^\/]+)?/$ payment/index.php?folio=$1 [L]
RewriteRule ^order/([^\/]+)?/$ order/index.php?folio=$1 [L]

#RewriteRule ^tienda/([^\/]+)/([^\/]+)?$ tienda/cafe/diablo/index.php?slug=$2 [L]


#Controladores
RewriteRule ^clients$ app/AuthController.php  
RewriteRule ^shopcart$ app/ShopController.php
RewriteRule ^sendcontact$ app/ContactController.php


#componentes
RewriteRule ^mobile_cart/?$ layouts/cart_mobile.template.php
RewriteRule ^detail_cart/?$ layouts/cart_details.template.php
